body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente para Streamlabs */
    font-family: 'Roboto', sans-serif; /* Fuente limpia y moderna */
}

.info-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: #F0F0F0; /* Fondo claro */
    border: 1px solid #D3D3D3; /* Borde delgado */
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 80%;
    margin: auto;
    position: relative;
    top: 10%;
}

.info-item {
    color: #333; /* Texto oscuro */
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.label {
    color: #555; /* Color del texto de la etiqueta */
    font-weight: bold;
    margin-right: 8px;
}

@keyframes background-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
